#skills {
    height: 100%;
    margin: 5rem 0;

    h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
}

#hero {
    height: 100%;
    margin: 5rem 0;
    display: flex;
    align-items: center;
}

#proyects {
    height: 100%;
    margin: 5rem 0;

    h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
}

#contact {
    height: 100%;
    margin: 5rem 0;
    

    h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;  
    }

    i {
        font-size: 1.2rem;
        margin-right: 1rem;
    }
}



@import '/node_modules/bootstrap/dist/css/bootstrap.min.css'